body {
  background-image: url("../imgs/website_background.jpeg");
  background-size: 1900px;
  height: 100vh;
  min-height: 100vh;
}

.fill {
  flex-direction: column;
  display: flex;
  align-items: stretch;
  justify-content: center;
  min-height: 100%;
  height: 100%;
  padding: 50px;
  margin-left: max(240px, 25%);
}

.centered {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.selection-box {
  max-height: 350px;
  margin: 10px;
  background-color: rgba(255, 244, 194, 0.6);
  display: flex;
}

.bottom {
  flex-direction: column;
  justify-content:flex-end;
}

.picture-box {
  font-family: monospace;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  width: 100%;
  height: 330px;
  opacity: 0.85;
  object-fit: cover;
  /* display: none; */
}

.first-row, .second-row {
  flex-grow: 0;
  /* flex-shrink: 4; */
  max-height: 350px;
}

.hidden-at-first {
  height: 480px;
  margin: 15px;
  font-family: monospace;
  font-size: 15px;
  /* background-color: rgba(131,141,176,0.7); */
  display: flex;
  align-self: stretch;
  display: none;
  overflow-y: scroll;
}

.hidden-at-first[style*='display: block'] {
  display: flex !important;
}

.text-div {
  height: 460px;
  white-space: pre-wrap;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(0,0,0, 0.5);
  box-shadow: 0 0 5px 10px rgba(0,0,0, 0.5);
  font-size: 15px;
  padding: 5px 5px;
  margin: 15px 30px
}

.whatstays-shadow {
  box-shadow: 0 0 5px 10px rgba(0,0,0, 0.3);
}

.multi-video {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.what-stays {
  flex-grow: 0
}

.vimeo-container {
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.selected-picture-container {
  height: 100%;

}

.picture-icons {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.picture-icon {
  width: calc(100% - 18px);
}

.selected-picture {
  width: calc(100% - 25px);
}

.picture-icon, .selected-picture {
  align-self: center;
  margin: 5px;
  height: auto;
  opacity: 0.9;
  box-shadow: 0 0 4px 6px rgba(0, 0, 0, 0.5);
}

.text-over-image-top, .text-over-image-bottom {
   position: absolute;
   top: 0;
   left: 0;
   width: calc(100% - 36px);
   font-family: monospace;
   font-weight: 600;
   font-size: 16px;
   text-align: center;
   margin: 18px;
   padding: 5px;
   background-color: rgba(255, 255, 255, 0.7);
}

/* .text-over-image-top {
  bottom: 0px;
}

.text-over-image-bottom {
   top: 0px;
} */

iframe {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.vimeo-canvas {
  margin: 10px;
}

.sidebar {
  position: absolute;
  top: 0;
  margin: 30px;
  margin-right: 50px;
  height: calc(100% - 60px);
  width: 300px;
  display: flex;
  flex-direction: column;
  opacity: 0.85;
  color: rgba(255, 244, 194, 0.8);
  font-family: monospace;
  font-size: 14px;
}

.sidebar-item-small {
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.sidebar-item-large {
  flex-basis: 0;
  flex-grow: 2;
  display: flex;
  flex-direction: row;
}

.about-text {
  align-self: flex-end;
  align-content: flex-end;
  white-space: pre;
}

.img-whatstays {
  align-self: flex-start;
  align-content: flex-start;
  width: 100%;
  height: 170px;
  opacity: 0.8;
}

.artist-pic {
  align-self: center;
  align-content: center;
  width: 280px;
  height: auto;
  margin: 15px 0;;
  object-fit: cover;
  opacity: 0.9;
}

.crater-lake-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
}

.crater-lake-pics {
  width: calc(50% - 10px);
  height: 300px;
  object-fit: cover;
  opacity: 0.9;

}

.credits-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.credits {
  flex-grow: 1;
  padding-right: 10px;
}

.credits-picture-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 0;

}

.credits-picture {
  margin: 20px;
  width: 300px;
  height: auto;
}
