body {
  background-image: url("../imgs/single_two.jpeg");
  /* background-position: center; */
  background-size: 1900px 1900px;;
  height: 100vh;
  min-height: 100vh;
}

.fill {
  min-height: 100%;
  height: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.centered {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.selection-box-bottom, .selection-box-top {
  max-height: 350px;
  margin: 10px;
  background-color: rgba(255, 244, 194, 0.4);
  display: flex;
}

/* .selection-box-bottom {

} */

.selection-box-bottom {
  flex-direction: column;
  justify-content:flex-end;
}

.picture-box {
  background-color: rgba(255, 244, 194, 0.4);
  font-family: monospace;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  width: 100%;
  height: 255px;
  opacity: 0.85;
  object-fit: cover;
  /* display: none; */
}

#aboutWhatStays-box {
  background-image: url("../iimgs/test.png");
}

#coverArt-box {
  background-image: url("../iimgs/kati.jpeg");
}

#aboutRecordingProcess-box {
  background-image: url("../iimgs/recording.jpeg");
}

#videoMirrors-box {
  background-image: url("../iimgs/mirrors.jpeg");
}

#aspirations-box {
  background-image: url("../iimgs/test.png");
}

#listenWhatStays-box {
  background-image: url("../iimgs/single_one.jpeg");
}

#videoALight-box {
  background-image: url("../iimgs/test.png");
}

#lyricBook-box {
  background-image: url("../iimgs/test.png");
}

.first-row, .second-row {
  flex-grow: 1;
  flex-shrink: 4;
  max-height: 350px;
}

.hidden-at-first {
  height: 500px;
  margin: 20px;
  font-family: monospace;
  font-size: 15px;
  /* background-color: rgba(131,141,176,0.7); */
  display: flex;
  align-self: stretch;
  display: none;
  overflow-y: scroll;
}

.hidden-at-first[style*='display: block'] {
  display: flex !important;
}

.text-div {
  height: 480px;
  white-space: pre-wrap;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 10px 20px rgba(255, 255, 255, 0.6);
  font-size: 15px;
  padding: 0px;
  margin: 30px 50px
}

.multi-video {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.what-stays {
  flex-grow: 0
}

.vimeo-container {
  display: flex;
  flex-direction: row;
}

.selected-picture-container {
  height: 100%;

}

.picture-icons {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.picture-icon {
  width: calc(100% - 18px);
}

.selected-picture {
  width: calc(100% - 25px);
}

.picture-icon, .selected-picture {
  align-self: center;
  margin: 5px;
  height: auto;
  opacity: 0.9;
  box-shadow: 0 0 4px 6px rgba(255, 255, 255, 0.6);
}

.text-over-image-top, .text-over-image-bottom {
   position: absolute;
   left: 0;
   width: calc(100% - 36px);
   font-family: monospace;
   font-weight: 600;
   font-size: 16px;
   text-align: center;
   margin: 18px;
   padding: 5px;
   background-color: rgba(255, 255, 255, 0.7);
}

.text-over-image-top {
  bottom: 0px;
}

.text-over-image-bottom {
   top: 0px;
}

iframe {
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.8);
}

.vimeo-canvas {
  margin: 10px;
}
